body{
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}
		
		*{
			box-sizing: border-box;
		}

		h2{
			font-size: 125%
		}

		h1{
			font-size: 175%
		}
		section{
			padding: 5px 5px 5px 5px;
		}
	
		div div{
			border: 3px solid black;
		}
		p{	
			position: relative;
			margin:2px 2px 3px 2px;
		}
		
		h1{
			text-align: center;
			margin: auto;
		}
		
		.bigbox{
			width:100%;
		}
		@media screen and (min-width: 992px){
			.sec1, .sec2, .sec3{
				float:left;
				width:33.33%;
			}
			#head1, #head2, #head3{
				position: relative;
				width:20%;
				margin-left:auto;
				margin-top: auto;
				border:3px black solid;

			}
		}
		@media screen and (max-width: 767px){
			.sec1, .sec2, .sec3{
				width:100%;
			}
			#head1, #head2, #head3{
				position: relative;
				width:20%;
				margin-left:auto;
				margin-top: auto;
				border:3px black solid;

			}
		}

		@media screen and (max-width: 992px) and (min-width: 768px){
			.sec1, .sec2, .sec3{
				float:left;
			}
			#head1, #head2{
				position: relative;
				width:20%;
				margin-left:auto;
				margin-top: auto;
				border:3px black solid;
			}
			#head3{
				position: relative;
				width:10%;
				margin-left:auto;
				margin-top: auto;
				border:3px black solid;
			}
			.sec1{
				width:50%;
			}
			.sec2{
				width:50%;
			}
			.sec3{
				width:100%;
			}
		}
		.subdiv1{
			background-color: #808080; 
		}
		.subdiv2{
			background-color: #808080;
		}
		.subdiv3{
			background-color: #808080;
		}
		#head1{
			background-color: #f70ff0;
			overflow: auto;
		}
		#head2{
			background-color: lightgreen;
			overflow: auto;
		}
		#head3{
			background-color: lightblue;
			overflow: auto;
		}
